DATABASE_URL="postgresql://studyplan:studyplan@localhost:55432/studyplan?schema=public"
DIRECT_URL="postgresql://studyplan:studyplan@localhost:55432/studyplan?schema=public"
SESSION_SECRET="replace-with-at-least-32-random-characters"
